<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4e5389cb-afc8-446f-98ca-a64928dbc1a9/resourceGroups/technomiletestweb1_rg/providers/Microsoft.Web/sites/tmsalesforcevisionapp/slots/tmconnectorsix</ResourceId>
    <ResourceGroup>technomiletestweb1_rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tmsalesforcevisionapp-tmconnectorsix.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>11c9568a-4bc7-4552-8e8a-72bbb24bf88b</ProjectGuid>
    <MSDeployServiceURL>tmsalesforcevisionapp-tmconnectorsix.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tmsalesforcevisionapp__tmconnectorsix</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$tmsalesforcevisionapp__tmconnectorsix</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>